.writeUp {
	font-family: freight-text-pro, serif;
	line-height:1.5;
	font-size:21px;
	grid-area:main;
	padding-top:50px;
}

.writeUp p{
	padding-bottom:2%;
}

h1 {
	padding-top:50px;
	font-family:"Open Sans";
	color: rgb(47,28,58);
	font-size:2em;
	padding-bottom:50px;
	text-transform:uppercase;
}

h2 {
	font-family:"Open Sans";
	color:rgb(96,8,62);
	font-size:1.2em;
	padding:10px 0px 30px 0px;
	font-style:italic;
}

table {
	width:630px;
	font-size:14px;
	text-align:left;
}

table, th, td {
	margin-top:18px;
	margin-bottom:18px;
	border-collapse: collapse;

}

th, td {
	padding:3px;
}

tr:nth-child(3) {
	border-top:1px solid lightgray;
	border-bottom: 1px solid lightgray;

}

th {
	font-weight:400;
	font-style:italic;
	text-transform:uppercase;
}

td {
	font-weight:400;
	font-style:italic;
	text-transform:uppercase;
}

caption {
	font-size:15px;
	font-weight:600;
	text-align:left;
}

@media only screen and (max-width: 600px) {

	nav ul{
		display:none;
	}

	nav{
		top:0px;
		left:0px;
	}

	.content {
		grid-template-columns:1fr 1fr;
		grid-template-rows:0.1fr 1fr;
		grid-gap:1em;
		grid-template-areas: 
		"img ."
		"main main";
		margin:10px;
	}

	.writeUp {
		font-size:15px;
		padding:0px;
		margin-top:-86px;
	}

	img {
		transform:scale(0.7);
		padding:20px 0px 10px 0px;
		margin-left:-30px;
	}
	
	h1 {
		font-size:21px;
		padding-bottom:10px;
	}

	h2 {
		font-size:15px;
	}

	.bottomNav li{
		float:initial;
	}

	table {
		font-size:12px;
		width:300px;
		margin:20px 0px 20px 0px;
	}

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

	nav {
		top:0px;
		left:0px;
	}
		
	.content {
		grid-template-columns:1fr 1fr;
		grid-template-rows:0.1fr 1fr;
		grid-gap:1em;
		grid-template-areas: 
		"img ."
		"main main";
		margin:10px;
	}

	h1 {
		font-size:30px;
		padding-bottom:10px;
	}

	h2 {
		font-size:18px;
	}

	img {
		padding:20px 0px 10px 0px;
	}

	.writeUp {
		font-size:15px;
		padding:0px;
		margin-top:-86px;
		margin-left:50px;
		margin-right:50px;
	}

	.bottomNav li{
		float:initial;
	}

	table {
		font-size:12px;
		width:300px;
		margin:20px 0px 20px 0px;
	}

}

@media only screen and (min-width: 769px) and (max-width: 992px) {

	nav{
		top:0px;
		left:0px;
	}

	.content {
		grid-template-columns:1fr 1fr;
		grid-template-rows:0.1fr 1fr;
		grid-gap:1em;
		grid-template-areas: 
		"img ."
		"main main";
		margin:10px;
	}

	.writeUp {
		font-size:21px;
		padding:0px;
		margin-top:-86px;
		margin-left:50px;
		margin-right:50px;
	}
	

}

@media only screen and (min-width: 1500px) and (max-width: 1920px) {

	.content {
		grid-gap:6em;
	}

	.writeUp {
		font-size:25px;
	}


	table {
		margin-top:28px;
		margin-bottom:28px;
		width:900px;
		font-size:20px;
	}

	caption {
		font-size:25px;
	}
}
