.writeUp {
	font-family: freight-text-pro, serif;
	font-size:21px;
	grid-area:main;
	padding-top:50px;
	line-height:1.5;
}

h1 {
	padding-top:50px;
	font-family:"Open Sans";
	color: rgb(47,28,58);
	font-size:2em;
	text-transform:uppercase;
	padding-bottom:0px;
}

h2 {
	font-family:"Open Sans";
	color:rgb(96,8,62);
	font-size:1.2em;
	padding:50px 0px 10px 0px;
	font-style:italic;
}

.Name {
	font-weight:bold;
}

.title {
	text-transform:uppercase;
	font-size:0.7em;
	letter-spacing:0.03em;
}

.Uni {
	font-size:0.8em;
	font-style:italic;
}

footer p {
	text-align:center;
	width:100vw;
	font-size:12px;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	line-height:1.4;
	padding:20px;
}

@media only screen and (max-width: 600px) {

	nav ul{
		display:none;
	}

	nav{
		top:0px;
		left:0px;
	}

	.content {
		grid-template-columns:1fr 1fr;
		grid-template-rows:0.1fr 1fr;
		grid-gap:1em;
		grid-template-areas: 
		"img ."
		"main main";
		margin:10px;
	}

	.writeUp {
		font-size:15px;
		padding:0px;
		margin-top:-86px;
	}

	img {
		transform:scale(0.7);
		padding:20px 0px 50px 0px;
		margin-left:-30px;
	}
	
	h1 {
		font-size:21px;
		padding-bottom:0px;
	}

	h2 {
		font-size:15px;
	}

	.bottomNav li{
		float:initial;
	}

}

@media only screen and (min-width: 601px) and (max-width: 768px) {
	nav {
		top:0px;
		left:0px;
	}
		
	.content {
		grid-template-columns:1fr 1fr;
		grid-template-rows:0.1fr 1fr;
		grid-gap:1em;
		grid-template-areas: 
		"img ."
		"main main";
		margin:10px;
	}

	h1 {
		font-size:30px;
		padding-bottom:0px;
	}

	h2 {
		font-size:18px;
	}

	img {
		padding:20px 0px 50px 0px;
	}

	.writeUp {
		font-size:15px;
		padding:0px;
		margin-top:-86px;
		margin-left:50px;
		margin-right:50px;
	}

	.bottomNav li{
		float:initial;
	}

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
		nav{
		top:0px;
		left:0px;
	}

	.content {
		grid-template-columns:1fr 1fr;
		grid-template-rows:0.1fr 1fr;
		grid-gap:1em;
		grid-template-areas: 
		"img ."
		"main main";
		margin:10px;
	}

	.writeUp {
		font-size:21px;
		padding:0px;
		margin-top:-86px;
		margin-left:50px;
		margin-right:50px;
	}

	h1 {
		padding-bottom:0px;
	}


	img {
		padding:20px 0px 50px 0px;
	}

}

@media only screen and (min-width: 1500px) {

	.content {
		grid-gap:6em;
	}

	.writeUp {
		font-size:25px;
	}

}
