@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	overflow-x:hidden;
}

nav {
	position:fixed;
	width:100vw;
	height:40px;
	background-color:rgb(47,28,58);
	font-family:"Open Sans";
	z-index:10;
}

nav li{
	font-family: "open sans";
	float:left;
	display:block;
	padding:10px 20px 0px 20px;
	letter-spacing:0.04em;
}

.lang{
	float:right;
	display:block;
	color:lightgray;
	cursor:default;
	padding-right:20px;
	font-weight:400;
}

.lang li {
	padding:10px;
}

a.active {
	font-weight:700;

}

nav a {
	text-decoration:none;
	text-align:center;
	color:lightgray;
	font-weight:400;

}

nav a:hover{
	font-weight:700;

}

a.current {
	font-weight:700;
}

footer {
	width:100%;
	padding:50px 0px 50px 0px;
	grid-area:foot;
}

footer a {
	text-decoration:none;
	color:gray;
}

hr {
	width:80%;
	margin:auto;
}

.bottomNav {
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
	padding:40px;
}

.bottomNav ul {
	list-style-type: none;
	margin:auto;

}

.bottomNav li {
	font-family:"Open Sans";
	float:left;
	display:block;
	text-align:center;
	font-size:12px;
	font-weight:400;
	padding-right:50px;
	padding-left:50px;
}

.content {
	position:absolute;
	top:85%;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr;
	grid-gap:1em;
	grid-template-areas:
		"cap cap cap cap"
		"side main main main"
		"foot foot foot foot";
}

.caption {
	font-family: freight-text-pro, serif;
	line-height:1.5;
	font-size:15px;
	grid-area:cap;
	padding:10px 30px 0px 30px;

}

h2 {
	font-family:"Open Sans";
	color:rgb(96,8,62);
	font-size:1em;
	font-style:italic;
	text-transform:uppercase;
}

.capDes {
	font-family: freight-text-pro, serif;
	font-size:15px;
	color:black;
	font-style:normal;
	font-weight:300;
	text-transform:none;

}

.mapMenu {
	grid-area:side;
	padding-top:35px;
}

.mapMenu h1 {
	font-family:"Open Sans";
	color:rgb(96,8,62);
	font-size:1.1em;
	padding:0px 10px 20px 30px;
	margin-top:-5px;
	text-transform:uppercase;
}

.mapMenu ul {
	list-style-type:none;
}

.mapMenu li {
	font-family:Open Sans;
	letter-spacing:0.02em;
	padding:0px 0px 10px 40px;
	line-height:1.3em;
	font-size:0.9em;
	font-style:italic;
}

.mapMenu a {
	cursor:pointer;
	text-decoration:none;
	color:gray;
	text-transform:uppercase;
}

.mapMenu a:hover {
	color:rgb(96,8,62);
	font-weight:700;
}

.mapMenu .current {
	color:rgb(96,8,62);
}

.writeUp {
	font-family: freight-text-pro, serif;
	line-height:1.5;
	font-size:21px;
	grid-area:main;
	padding:30px 50px 30px 50px;
}

.writeUp p{
	padding-bottom:2%;
}

@media only screen and (max-width: 600px) {

	nav {
		font-size:11px;
	}

	.nav {
		display:none;
	}

	.lang {
		display:block;
		font-family:freight text;
		grid-area:lang;
		font-size:12px;
		color:black;
	}

	.content {
		grid-template-rows:0.05fr 0.05fr 1fr 0.05fr;
		grid-gap:0.5em;
		grid-template-areas: 
			"cap cap cap cap"
			"side side side side"
			"main main main main"
			"foot foot foot foot";
		margin:10px;
		top:83%;
	}

	.caption {
		margin-top:20px;
		font-size:12px;
	}

	.mapMenu {
		font-size:12px;
	}

	.writeUp {
		font-size:14px;
		padding:20px;
		margin-top:0px;
		padding-bottom:0px;
	}
	
	.bottomNav li{
		float:initial;
	}

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

	nav {
		top:0px;
		left:0px;
	}
		
	.content {
		grid-template-rows:0.05fr 0.05fr 1fr 0.05fr;
		grid-gap:0.5em;
		grid-template-areas: 
			"cap cap cap cap"
			"side side side side"
			"main main main main"
			"foot foot foot foot";
		margin:10px;
		top:83%;
	}


	.writeUp {
		font-size:15px;
		padding:20px;
		margin-top:0px;
		padding-bottom:0px;
	}

	.bottomNav li{
		float:initial;
	}

}

@media only screen and (min-width: 769px) and (max-width: 992px) {

	nav {
		top:0px;
		left:0px;
	}
		
	.content {
		grid-template-rows:0.05fr 0.05fr 1fr 0.05fr;
		grid-gap:0.5em;
		grid-template-areas: 
			"cap cap cap cap"
			"side side side side"
			"main main main main"
			"foot foot foot foot";
		margin:10px;
		top:83%;
	}


	.writeUp {
		font-size:15px;
		padding:20px;
		margin-top:0px;
		padding-bottom:0px;
	}

	.bottomNav li{
		float:initial;
	}
	

}

@media only screen and (min-width: 1500px) {

	.content {
		grid-gap:2em;
		font-size:25px;
		top:83%;
	}

}

