* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: Open Sans;
	overflow-x:hidden;
}

.header {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100px;
	background-color:rgb(193,176,187);
	transition:all 2s ease-in-out;
}

#logo {
	position:relative;
	top:-66px;
	left:-101px;
	transform:scale(0.4);
}

.nav {
	font-size:17px;
	text-transform:uppercase;
	font-weight:600;
	position:absolute;
	top:210px;
	left:80px;
	width:13%;
	height:310px;

}

a {
	color:black;
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	cursor:pointer;
	color:rgb(195,188,196);
}

ul {
	position:sticky;
	top:50px;
	list-style-type: none
}

.nav .current {
	color:rgb(195,188,196);
}

.content {
	position:relative;
	top:90px;
	left:440px;
}

.title {
	margin-top:100px;
/*	text-transform:uppercase;*/
	color: rgb(47,28,58);

}

.title h1{
	font-size:40px;
	font-weight:700;
}

form {
	margin-top:50px;
}

.form-control {
	width:600px;
/*	background: rgba(47,28,58,0.2);*/
	background:transparent;
	border:none;
	outline:none;
	border-radius:5px;
	border-bottom:1px solid rgb(193,176,187);
	color:gray;
	font-size:18px;
	margin-bottom:16px;
	padding:10px;
}

input {
	height:45px;
}

form .submit {
	background-color: rgba(47,28,58,0.7);
	border:none;
	outline:none;
	color:lightgray;
	font-size:20px;
	font-weight:600;
	letter-spacing:1.5px;
	height:50px;
	margin-top:20px;
	position:relative;
	left:-605px;
	top:59px;
	width:600px;
	border-radius:10px;
}

form .submit:hover {
	cursor:pointer;
	background-color:rgba(47,28,58,1);
	color:white;
}

.footer {
	position:absolute;
	top:610px;
	left:0px;
	width:100%;
	height:150px;
	overflow:hidden;
}

.line {
	width:1040px;
	height:1px;
	background: rgb(47,28,58);
	position:relative;
	top:1vh;
	left:9%;
}

.bottomNav {
	list-style-type: none;
	position:relative;
	top:-8vh;
	left:24%;

}

.bottomNav li {
	float:left;
	display:block;
	text-align:center;
	font-size:12px;
	font-weight:400;
	padding:50px;
}

.bottomNav ul {
	position:relative;
}

.CCliscense {
	position:relative;
	top:110px;
	left:-26%;
}

#CC {
	font-size:10px;
	font-weight:400;
	text-align:center;
}