@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: "Open Sans";
	overflow:hidden;
}

header {
	height:150px;
	width:100vw;
	background: url("Images/Splash.png") no-repeat fixed center;
	background-size: 1500px;
	background-position: 70% 190%;
}

.content {
	margin-top:75px;
}

header img {
	transform:scale(0.5);
	position:relative;
	top:-42px;
	left:-35px;
}

nav {
	font-size:17px;
	text-transform:uppercase;
	font-weight:600;
	width:100px;
	height:100px;
	padding:20px;
	margin:40px;
	padding-left:95px;

}

a {
	color:gray;
	text-decoration:none;
}

nav a:hover{
	text-decoration:none;
	cursor:pointer;
	color:rgb(96,8,62);
}

ul {
	position:sticky;
	top:50px;
	list-style-type: none
}

li {
	padding:10px;
}

.current {
	color:rgb(96,8,62);
}

.title h1{
	font-size:40px;
	font-weight:700;
	margin-left:630px;
	margin-top:-130px;
}

form {
	margin-top:50px;
	margin-left:630px;
}

.form-control {
	width:400px;
	background:transparent;
	border:none;
	outline:none;
	border-radius:5px;
	border-bottom:1px solid rgb(193,176,187);
	color:gray;
	font-size:18px;
	margin-bottom:16px;
	padding:10px;
}

input {
	height:45px;
}

form .submit {
	background-color: rgba(47,28,58,0.7);
	border:none;
	outline:none;
	color:lightgray;
	font-size:20px;
	font-weight:600;
	letter-spacing:1.5px;
	height:50px;
	margin-top:20px;
	width:400px;
	border-radius:10px;
}

form .submit:hover {
	cursor:pointer;
	background-color:rgba(47,28,58,1);
	color:white;
}

.bottomNav {
	display:none;
}

.bottomNav ul {
	list-style-type: none;

}

.bottomNav li {
	float:left;
	display:block;
	text-align:center;
	font-size:12px;
	font-weight:400;
	padding:50px;
}

@media only screen and (max-width: 600px) {
	header img {
		margin-left:-10px;
	}

	.title h1 {
		font-size:20px;
		font-weight:700;
		margin:auto;
		padding-left:100px;
	}

	form {
		margin-left: 0px;
	}

	nav {
		display:none;
	}

	.form-control {
		width:250px;
		font-size:15px;
		margin-left:100px;
	}

	form .submit {
		width:250px;
		margin-left:100px;
	}

	.bottomNav {
		display:block;
		margin-left:80px;
	}

}

@media only screen and (min-width: 601px) and (max-width: 768px) {
	header img {
		margin-left:-60px;
	}

	.title h1 {
		font-size:30px;
		font-weight:700;
		margin-top:-120px;
		margin-left:180px;
	}

	form {
		margin-left: 80px;
	}

	nav {
		margin-left:-60px;
	}


	.form-control {
		width:400px;
		font-size:18px;
		margin-left:100px;
	}

	form .submit {
		width:400px;
		margin-left:100px;
	}

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
	header img {
		margin-left:-10px;
	}

	.title h1 {
		font-size:30px;
		margin-top:-120px;
		margin-left:300px;
	}

	form {
		margin-left: 200px;
	}

	nav {
		margin-left:10px;
	}


	.form-control {
		width:400px;
		font-size:18px;
		margin-left:100px;
	}

	form .submit {
		width:400px;
		margin-left:100px;
	}

}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
	header img {
		margin-left:20px;
	}

	.title h1 {
		margin-left:410px;
	}

	form {
		margin-left: 410px;

	}

}