.content {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-gap:1em;
	grid-template-areas: "img main . ." 
}

img {
	padding:80px 0px 0px 20px;
	grid-area:img;
}

.writeUp {
	grid-area:main;
	padding-top:50px;
	margin-left:50px;
}

h1{
	padding:50px 0px 50px 0px;
	font-family:"Open Sans";
	color: rgb(47,28,58);
	font-size:2.7em;
	text-transform:uppercase;
}

.form-control {
	width:400px;
	background:rgba(47,28,58,0.2);
	border:1px solid gray;
	outline:lightgray;
	color:gray;
	font-size:18px;
	margin-bottom:16px;
	padding:10px;
}

input {
	height:45px;
}

form .submit {
	background-color: rgba(47,28,58,0.2);
	border:0.5px solid gray;
	outline:lightgray;
	color:gray;
	font-size:0.8em;
	font-weight:600;
	letter-spacing:1.5px;
	height:40px;
	margin-top:20px;
	width:150px;
}

form .submit:hover {
	cursor:pointer;
	background-color:rgba(96,8,62,0.8);
	color:white;
}

footer {
	position:absolute;
	bottom:30px;
}

@media only screen and (max-width: 600px) {
	nav ul{
		display:none;
	}

	nav{
		top:0px;
		left:0px;
	}

	.content {
		grid-template-columns:1fr 1fr;
		grid-template-rows:0.1fr 1fr;
		grid-gap:1em;
		grid-template-areas: 
		"img ."
		"main .";
		margin:10px;
	}

	.writeUp {
		font-size:15px;
		padding:0px;
		margin-top:-86px;
		margin-left:10px;
	}

	img {
		transform:scale(0.7);
		padding:20px 0px 50px 0px;
		margin-left:-30px;
	}
	
	h1 {
		font-size:21px;
		padding-bottom:50px;
	}

	.form-control {
		width:250px;
		font-size:15px;
	}

	input {
		height:35px;
	}

	form .submit {
		height:35px;
		width:150px;
	}

	.bottomNav li{
		float:initial;
	}

	footer {
		position:initial;
	}

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

	nav{
		top:0px;
		left:0px;
	}

	.content {
		grid-template-columns:1fr 1fr;
		grid-template-rows:0.1fr 1fr;
		grid-gap:1em;
		grid-template-areas: 
		"img ."
		"main .";
		margin:10px;
	}

	.writeUp {
		font-size:15px;
		padding:0px;
		margin-top:-86px;
		margin-left:10px;
	}

	img {
		transform:scale(0.7);
		padding:20px 0px 50px 0px;
		margin-left:-30px;
	}
	
	h1 {
		font-size:21px;
		padding-bottom:50px;
	}

	.form-control {
		width:300px;
		font-size:15px;
	}

	input {
		height:35px;
	}

	form .submit {
		height:35px;
		width:150px;
	}

	.bottomNav li{
		float:initial;
	}

	footer {
		position:initial;
	}

}

@media only screen and (min-width: 1500px) and (max-width: 1920px){
	h1 {
		font-size:55px;
	}

}


